<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../asset/index.css">
    <link rel="stylesheet" href="../../asset/for.css">
  </head>
  <body> 
    <div class="basicFrame" id="top">
      <div id="left"> 
        <button>메뉴</button><span>YOUTUBE</span>
      </div>
      <div id="center">
        <form action="/results">
          <input class="search_center" name="search_query">
          <input class="cancle_center" type="button" value="X">
          <button class="icon_center">검색</button>
        </form>
      </div>
      <div id="right"> 
        <button>목록</button>
        <button>알림</button>
        <button>프로필</button>
      </div>
    </div>
    <div class="basicFrame" id="main">
      <div id="mainLeft">       
        <div id="leftMenu">
          <div id="menu">
            <div class="menuBox"> 
              <div class="menuItem"><img src="" alt="">
                <label>홈  </label>
              </div>
              <div class="menuItem"> <img src="" alt="">
                <label>탐색  </label>
              </div>
              <div class="menuItem"><img src="" alt="">
                <label>구독  </label>
              </div>
            </div>
            <div class="menuBox"> 
              <div class="menuItem"><img src="" alt="">
                <label>보관함</label>
              </div>
              <div class="menuItem"></div>
              <div class="menuItem"></div>
              <div class="menuItem"></div>
              <div class="menuItem"></div>
              <div class="menuItem"></div>
            </div>
            <div class="menuBox"> 
              <div class="menuItem"></div>
              <div class="menuItem"></div>
              <div class="menuItem"></div>
              <div class="menuItem"></div>
            </div>
            <div class="menuBox"> 
              <div class="menuItem"></div>
              <div class="menuItem"></div>
              <div class="menuItem"></div>
              <div class="menuItem"></div>
            </div>
            <div class="menuBox"> 
              <div id="menuTextBox">
                <div class="menuTxt"></div>
                <div class="menuTxt"></div>
                <div class="menuTxt"></div>
                <div class="menuTxt"></div>
              </div>
              <div id="menuInfo"> 
                <div id="infoAboutWeb"> <span>2021 tmdl LLC </span><span>CEO: 내맘대로</span><span>주소: 1600 Amphiheartre Parkway.</span><span>전화: 080-822-1450(무료)</span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="mainRight">
        <h1>HOME</h1>
      </div>
    </div>
  </body>
</html>