#leftMenu
    #menu
        .menuBox 
            .menuItem
                img(src="", alt="")
                label 홈  
            .menuItem 
                img(src="", alt="")
                label 탐색  
            .menuItem
                img(src="", alt="")
                label 구독  
        .menuBox 
            .menuItem
                img(src="", alt="")
                label 보관함
            .menuItem
            .menuItem
            .menuItem
            .menuItem
            .menuItem
        .menuBox 
            .menuItem
            .menuItem
            .menuItem
            .menuItem
        .menuBox 
            .menuItem
            .menuItem
            .menuItem
            .menuItem
        .menuBox 
            #menuTextBox
                .menuTxt
                .menuTxt
                .menuTxt
                .menuTxt
            #menuInfo 
                #infoAboutWeb 
                    span 2021 tmdl LLC 
                    span CEO: 내맘대로
                    span 주소: 1600 Amphiheartre Parkway.
                    span 전화: 080-822-1450(무료)
                
                
