
#top.basicFrame
    #left 
        button 메뉴
        span YOUTUBE
    #center
        form(action="/results")
            input(name="search_query" class="search_center")
            input(type="button" value="X" class="cancle_center") 
            button(class="icon_center") 검색
    #right 
        button 목록
        button 알림
        button 프로필

